html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    margin: 20px auto;
    width: 100%;
    max-width: 1000px;
    line-height: 1.5;
    font-family: "Raleway", sans-serif;
    background-image: url("../images/money.jpg");
    background-size: cover;
}

.result {
    text-align: center;
}

.outputAmount {
    color: #296e54;
}