html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    line-height: 1.5;
    font-family: "Raleway", sans-serif;
    background-image: url("../images/money.jpg");
    background-size: cover;
}

.result {
    text-align: center;
}

.outputAmount {
    color: #296e54;
}